*{
  background-color: black;
  color: aliceblue;
}
.navbar{
  display: flex;
  justify-content: space-between;
  padding: 25px;
}
.nav-links{
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

video{
  height: 500px;
  width: 800px;
}

.search-modal {
  display: none;
}

.search-modal.active {
  display: flex;
}


.row-scroll {
  display: flex;
  overflow-x: auto;
  gap: 12px;
}


.hidden {
  display: none;
}